<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Portifólio</title>
</head>
<body>
    
  <i class="bi bi-list menu-mobile"></i>


    <aside id="header"><!--menu responsivo-->
        <section class="profile"><!--sesões do menu-->
            <img src="../static/img/foro de perfil menor.jpg" alt="Foto do max"><!--foto de perfil-->
            <h1>Guilherme Max Pereira</h1>
            <div class="social-links mt-4 text-center"><!--divisão-->
                <a target="_blank" href="https://www.linkedin.com/in/guilherme-max-pereira-368bab209">
                    <i class="bi bi-linkedin"></i>
                </a><!--link--> <!--linkedn + icone-->
                <a  target="_blank" href="https://github.com/Guimax18">
                    <i class="bi bi-github"></i>
                </a><!--git-hub + icone-->
                <a  target="_blank" href="https://www.instagram.com/aleatorio1845">
                    <i class="bi bi-instagram"></i>
                </a><!--instagram + icone-->
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i>  Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-person"></i>  Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-card-checklist"></i>  Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i>  Currículo</a>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-collection"></i>  Portifólio</a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-envelope"></i>  Contato</a>

                </li>
              </ul>

        </nav>
    </aside>

    <main id="main">

      <section id="inicio" class="row m-0 p-0"> <!--inicio da página-->
          <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
              <h2 class="text-white text-shadow">Guilherme Max</h2>
              <span id="subtitle" class="text-white text-shadow">Desenvolvedor iniciante</span>
          </div>

          <div class="col-md-7 d-flex justify-content-end align-items-end">
              <div id="arraste" class="d-flex align-items-center">
                  <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i> <!--seta para baixo-->
                  <a href="#sobre">Arrate para mais</a>
              </div>

          </div>

      </section>

       <section class="container mt-5" id='sobre'>
          <div class="row w-100">
              <div class="col-md-12" data-anime="down">
                  <h2 class='pt-3'>Sobre</h2>
                  <p>Iniciando Carreira na área de Desenvolvimento de Software com intenção de aprimorar as competências pessoais e profissionais</p>
              </div>
          </div>

          <div class="row mt-4">
              <div class="col-md-4">
                  <img class="img-fluid shadow" src="../static/img/foro de perfil menor.jpg" alt="Foto do Max" data-anime="left">
              </div>
              <div class="col-md-8" data-anime="right">
                  <h3>Aluno</h3>
                  <p>Formando-se em Análise e Desenvolvimento de Sistemas, Tecnólogo, SENAC</p>

                  <div class="row mt-3 mb-3">
                      <div class="col-md-6">
                          <ul class="list-group list-group-flush fs-5">
                              <li class="list-group-item">
                                  Niver: <span class="fw-lighter">15 de Agosto de
                                      2003</span>
                              </li>
                              <li class="list-group-item">
                                  Idade: <span class="fw-lighter">19 anos</span>
                              </li>
                              <li class="list-group-item">
                                  Cidade: <span class="fw-lighter">São paulo</span>
                              </li>
                              <li class="list-group-item">
                                  Estado: <span class="fw-lighter">São Paulo</span>
                              </li>

                          </ul>
                      </div>
                      <div class="col-md-6">
                          <ul class="list-group list-group-flush fs-5">
                              <li class="list-group-item">Hobby: <span class="fw-lighter">Jogar Video-game</span></li>
                              <li class="list-group-item">Site: <a href="" target="_blank"
                                      class="fw-lighter text-decoration-none link-dark">maxcode</a></li>
                              <li class="list-group-item">Trabalho: <a href=""
                                      target="_blank" class="fw-lighter text-decoration-none link-dark">Galpão Z28</a></li>
                              <li class="list-group-item">Experiência: <span class="fw-lighter">1 ano e 2 meses</span></li>

                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="mt-5 section-bg" id="Habilidades">

        <div class="container pb-5">
            <h2 class="pt-5">Habilidades</h2>
            <p>Estou em busca de cada vez mais estar aperfeiçoando minhas habilidades tecnicas e não tecnicas
                na área da tecnologia
            </p>
            <div class="row">
                <div class="col-md-6">
                    <p class='mt-3 mb-0'>HTML</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40"
                            data-anime="left" aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                    <p class="mt-3 mb-0">CSS</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                    </div>
                    <p class="mt-3 mb-0">JavaScript</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;"
                            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                    </div>
                    <p class="mt-3 mb-0">Python</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                    <p class="mt-3 mb-0">Java</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 50%;"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                         <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">NodeJs (Express)</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;"
                                aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 10%;"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress mb-3">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                    </div>
            </div>

            <hr class='w-50 me-auto ms-auto'>

            <div class="row">
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Trabalho em equipe</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>

                    <p class="mt-3 mb-0">Proatividade</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>

                    <p class="mt-3 mb-0">Orientação a detalhes</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <p class="mt-3 mb-0">Comunicação</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>

                    <p class="mt-3 mb-0">Empatia</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>

                    <p class="mt-3 mb-0">Comprometimento</p>
                    <div class="progress">
                        <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div>
                </div>
            </div>

        </div>

        </div>    

      </section>


     </main>




    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
